@charset "utf-8";

@import
  "./includes/normalize",
  "./includes/variables",
  "./includes/mixins",
  "./includes/base";

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Regular.ttf') format('truetype');
	font-style: normal;
  font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Light.ttf') format('truetype');
	font-style: normal;
  font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Thin.ttf') format('truetype');
	font-style: normal;
  font-weight: 200;
}

@-ms-viewport {
   width: device-width;
}
@viewport {
   width: device-width;
}

body {
  @include transform(translate(-50%, -50%));
  @include transition(background 1s linear);
  background: $basecolor;
  position: absolute;
  text-align: center;
  color: $off_white;
  left: 50%;
  top: 50%;
}

h1[data-localstorage] {
  letter-spacing: .023em;
  position: relative;
  margin-bottom: 0;
  cursor: default;
}

p[data-localstorage] {
  letter-spacing: .012em;
  margin: .4em 0 .8em 0;
  position: relative;
  font-size: 1.09em;
  font-weight: 200;
  cursor: default;
  color: #eee;
}

.edit {
  margin-bottom: 40px;
}
h3 {
  vertical-align: middle;
  letter-spacing: .03em;
  position: relative;
  margin: .3em 2px 0;
  font-weight: 300;
  display: inline;
}

button {
  @include transition(background, box-shadow, color .3s ease, border .2s ease-in);
  @include border-radius(24px);
  border: 2px solid #E53935;
  font-family: $basefont;
  letter-spacing: .05em;
  background: #E53935;
  position: relative;
  text-align: center;
  padding: .52em 1.1em;
  color: $off_white;
  font-weight: 300;
  font-size: .9em;
  outline: 0;
  &:hover {
    @include box-shadow(5px 5px 10px 0px rgba(193,79,82,1));
    border: 2px solid $off_white;
    background: $off_white;
    color: #E53935;
  }
  .editor {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    input {
      border: 2px solid $basecolor;
      position: relative;
      float: left;
    }
  }
}

button.clicked {
  .editor.clicked {
    @include transform(translate(-50%, -50%));
    @include border-radius(50em);
    display: inline-block;
    background: $white;
    padding: .9em 1em;
    width: 15em;
    top: -133%;
    left: 50%;
    &:before {
      @include transform(translate(0, -50%));
      content: url(./icon_down.svg);
      position: absolute;
      text-align: center;
      top: 3.57em;
      left: 47%;
    }
  }
}


footer {
  font-family: Calibri, Arial, sans-serif, serif;
  @include transform(translate(-50%, 0));
  position: absolute;
  font-weight: 100;
  bottom: -10em;
  left: 50%;
  * {
    font-family: inherit;
    color: #eee;
  }
  section {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      border-bottom: 1px dotted;
      text-decoration: none;
    }
  }
}
