@charset "utf-8";

@import
  "./includes/normalize",
  "./includes/variables",
  "./includes/mixins",
  "./includes/base";

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-style: italic;
}

@-ms-viewport {
   width: device-width;
}
@viewport {
   width: device-width;
}

body {

}
