@charset "utf-8";

@import
  "./includes/normalize",
  "./includes/variables",
  "./includes/mixins",
  "./includes/base";

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Regular.ttf') format('truetype');
	font-style: normal;
  font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Light.ttf') format('truetype');
	font-style: normal;
  font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
	src: url('fonts/Montserrat-Thin.ttf') format('truetype');
	font-style: normal;
  font-weight: 200;
}

@-ms-viewport {
   width: device-width;
}
@viewport {
   width: device-width;
}

body {
  @include transform(translate(-50%, -50%));
  @include transition(background 1s linear);
  background: $basecolor;
  position: absolute;
  text-align: center;
  color: $off_white;
  left: 50%;
  top: 50%;
}

h1[data-localstorage] {
  letter-spacing: .023em;
  position: relative;
  margin-bottom: 0;
}

p[data-localstorage] {
  letter-spacing: .012em;
  margin: .4em 0 .8em 0;
  position: relative;
  font-size: 1.09em;
  font-weight: 200;
  color: #eee;
}

.edit {
  h3 {
    vertical-align: middle;
    letter-spacing: .03em;
    position: relative;
    margin: .3em 2px 0;
    font-weight: 300;
    display: inline;
  }

  button[data-localstorage] {
    @include transition(background, color .3s ease, border .2s ease-in);
    @include border-radius(24px);
    border: 2px solid #E53935;
    font-family: $basefont;
    letter-spacing: .05em;
    background: #E53935;
    position: relative;
    text-align: center;
    padding: .52em 1.1em;
    color: $off_white;
    font-weight: 300;
    font-size: .9em;
    outline: 0;
    &:hover {
      @include box-shadow(5px 5px 10px 0px rgba(193,79,82,1));
      border: 2px solid $off_white;
      background: $off_white;
      color: #E53935;
    }
  }
}
