@charset 'utf-8';

@import
  './includes/normalize',
  './includes/palette',
  './includes/variables',
  './includes/mixins',
  './includes/base',
  './includes/theme_styles';

@font-face {
  font-family: 'Not Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Not Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Not Source Sans Pro';
  src: url('../../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../../fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  @include transition(background 1s linear);
  background: $teal_base;
  color: $off_white;
  height: $full;
  .main_page {
    @include transform(translate(-50%, -50%));
    position: absolute;
    text-align: center;
    width: 60%;
    left: 50%;
    top: 50%;
  }

  .github_fork {
    a {
      @include transition(all .25s ease);
      @include transform(rotate(45deg));
      border-color: $teal_base;
      display: inline-block;
      text-decoration: none;
      border-style: dotted;
      padding: .45em 3em;
      background: $white;
      border-width: .2em;
      position: absolute;
      color: $teal_base;
      font-weight: bold;
      cursor: pointer;
      right: -53px;
      top: 43px;
      &:hover {
        border-color: darken($teal_base, 5%);
        background: lighten($teal_base, 5%);
        color: $white;
      }
    }
  }

  h1[data-localstorage] {
    letter-spacing: .023em;
    position: relative;
    margin-bottom: 0;
    cursor: default;
    .code {
      font-family: $code_font;
      @include calc(vertical-align, 5%);
      @include border-radius(3px);
      background: #E8F5F2;
      color: $teal_base;
      font-size: .75em;
      padding: 5px 7px;
    }
  }

  p[data-localstorage] {
    letter-spacing: .032em;
    margin: .4em 0 .8em 0;
    position: relative;
    font-size: 1.09em;
    font-weight: 200;
    cursor: default;
    color: #eee;
  }

  .edit {
    margin-bottom: 40px;
  }

  h3 {
    vertical-align: middle;
    letter-spacing: .05em;
    position: relative;
    margin: .3em 2px 0;
    font-weight: 500;
    display: inline;
  }

  .main_page button {
    @include transition(background, box-shadow, color .3s ease, border .2s ease-in);
    @include border-radius(2px);
    border-color: $teal_dark;
    background: $teal_dark;
    letter-spacing: .05em;
    font-family: inherit;
    border-style: solid;
    font-weight: normal;
    padding: .32em 1em;
    position: relative;
    text-align: center;
    border-width: 2px;
    color: $off_white;
    font-size: .9rem;
    outline: 0;
    &:hover {
      @include box-shadow(5px 5px 10px 0px $teal_dark);
      border-color: $off_white;
      background: $off_white;
      color: $teal_dark;
    }
    .editor {
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      input {
        border-color: $teal_base;
        border-style: solid;
        position: relative;
        border-width: 2px;
        float: left;
      }
    }
  }

  button#clear {
    position: relative;
    svg {
      @include calc(vertical-align, -25%);
      @include transition(none);
      height: 20px;
      width: 17px;
      fill: #fff;
    }
    &:hover {
      svg {
        fill: currentColor;
      }
    }
  }

  footer {
    font-family: $basefont;
    @include transform(translate(-50%, 0));
    position: absolute;
    font-weight: 100;
    bottom: -10em;
    left: 50%;
    * {
      font-family: inherit;
      color: #eee;
    }
    section {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        border-bottom: 1px dotted;
        text-decoration: none;
      }
      svg {
        height: 12px;
        width: 15px;
        fill: #fff;
      }
    }
  }

  .edit__modal {
    @include transition(top, visibility .12s ease-in, box-shadow .5s ease .15s);
    @include transform(translate(-50%, -50%));
    @include border-radius(2px);
    background: #e2e2e2;
    visibility: hidden;
    min-height: 228px;
    position: fixed;
    padding: 1em;
    width: 396px;
    left: 50%;
    top: 0%;
    &.visible {
      @include box-shadow(0px 0px 10px 20px rgba(0, 0, 0, .06));
      visibility: visible;
      top: 50%;
      #close_modal svg {
        width: 22px;
      }
      // Hide the second label and input by default
      .modal_actions {
        label[for='input2'],
        input#input2 {
          display: none;
        }
      }
      // Show the second label and input for specific buttons
      &#font_edit,
      &#text_edit,
      &#colors_edit,
      &#buttons_edit {
        .modal_actions {
          label[for='input2'],
          input#input2 {
            display: block;
          }
        }
      }
      // Hide the inputs and label 1 if the button is `Theme`
      &#theme_edit {
        .modal_actions {
          input[type='text'],
          label[for='input2'] {
            display: none;
          }
          // Show the theme selector if the modal is `#theme_edit`
          #theme_selector {
            padding: 15px 0;
            display: block;
            button[data-localstorage] {
              @include border-radius(2px);
              border: 2px solid #cbcbcb;
              margin-bottom: 10px;
              background: #F0F0F0;
              position: relative;
              padding: 5px 15px;
              color: #3f5261;
            }
            input[type="checkbox"] {
              vertical-align: -2px;
            }
          }
        }
      }
    }
    > * {
      text-align: center;
      display: block;
    }
    h3 {
      margin-bottom: 7px;
      color: #3f5261;
    }
    .edit_text {
      font-family: $basefont;
      font-size: .9rem;
      font-weight: 400;
      color: #7d7d7d;
      > span {
        font-family: $code_font;
        @include calc(vertical-align, 10%);
        @include border-radius(2px);
        letter-spacing: .03em;
        background: #E8F5F2;
        font-size: .7rem;
        color: #6699cc;
        padding: 5px;
      }
    }
    #close_modal {
      background-color: transparent;
      @include border-radius(100%);
      display: inline-block;
      position: absolute;
      height: 30px;
      width: 31px;
      border: 0;
      left: 91%;
      top: 1px;
      &:hover {
        svg {
          @include transform(scale(1.3));
        }
      }
      svg {
        @include transition(transform, width .4s ease .3s);
        margin: 1px -22px;
        height: 27px;
        width: 0px;
        fill: #000;
      }
    }
  }

  .modal_actions {
    margin-top: 15px;
    label {
      color: darken(#7d7d7d, 10%);
      display: block;
      &:not([for="checkbox"]) {
        font-size: .9rem;
        display: block;
        &[for='input1'],
        &[for='input2'] {
          margin-left: 25px;
          text-align: left;
        }
      }
    }
    input {
      position: relative;
      &[type="text"] {
        @include transition(border .3s ease);
        @include border-radius(3px);
        margin: 0 auto 12px;
        border-style: solid;
        border-color: #fff;
        border-width: 2px;
        padding: 5px 10px;
        text-align: left;
        font-size: .8rem;
        width: 85%;
        &:focus {
          border-color: #6699cc;
        }
      }
    }
    // Hide the theme selector by default
    #theme_selector {
      position: relative;
      display: none;
    }
    #user_actions {
      display: block;
      button {
        @include transition(background .3s ease-out);
        font-family: $basefont;
        background: #C9C9C9;
        padding: 5px 60px;
        color: $off_white;
        border: 0 none;
        color: #3f5261;
        &:hover {
          background: darken(#C9C9C9, 5%);
        }
      }
    }
  }

}
