/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: 'Montserrat', Calibri, 'Trebuchet MS', Helvetica, Arial, georgia;
$code_font: 'Source Code Pro', Consolas, Menlo, Monaco, monospace;
$white: #fff;
$off_white: #f9f9f9;
$black: #000;
$basecolor: #F44336;
$base-color: $basecolor;
$base_color: $basecolor;
$one: 1px;
$two: 2px;
$three: $one + $two;
$five: $three + $two;
$seven: $five + $two;
$full: 100%;
