/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: 'Not Source Sans Pro', Calibri, 'Trebuchet MS', Helvetica, Arial, georgia, sans-serif, serif;
$code_font: 'Ubuntu Mono', Consolas, Menlo, Monaco, monospace;
$white: #fff;
$off_white: #f9f9f9;
$black: #000;
$basecolor: #37B7B7;
$base-color: $basecolor;
$base_color: $basecolor;
$one: 1px;
$two: 2px;
$three: $one + $two;
$five: $three + $two;
$seven: $five + $two;
$full: 100%;
