// Teal
$teal_base: #37B7B7;
$teal_dark: #21A1A1;
$teal_outset: #41C1C1;

// Tomato
$tomato_base: #E94444;
$tomato_dark: #E03B3B;
$tomato_outset: #F34E4E;

// Blue
$blue_base: #169AE1;
$blue_dark: #0E92D9; //#39A9E6
$blue_outset: #20A4EB;


// BlueViolet
$blueviolet_base: #8a2be2;
$blueviolet_dark: #8021d8;
$blueviolet_outset: #9435ec;
